<h2>表彰選手</h2>

<%= form_tag({controller: :award, action: :find}, method: :get) do %>
  <div class="row" style="padding-left: 5px; padding-right: 5px">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= select_tag :key_year, options_for_select(Constants.get_year_set_from_2007, @selected_year), class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= select_tag :key_season, options_for_select(['春季', '秋季'], @selected_season), class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= select_tag :key_event,
                       options_for_select(['1部リーグ戦', '2部リーグ戦', '3部リーグ戦', 'トーナメント'], @selected_event),
                       class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-2">
      <%= submit_tag '表示', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

<!--pc-->
<div class="d-none d-sm-block">

  <div class="py-2"></div>

  <h3 class="text-center font-weight-bold" style="font-size: 20px">
    <%= @selected_year %>年度<%= @selected_season %><%= @selected_event %> 表彰選手</h3>

  <div class="py-2"></div>

  <% if @error_msg %>

    <div class="text-center"><%= @error_msg %></div>

  <% else %>

    <h4 class="text-center font-weight-bold" style="font-size: 18px">各賞</h4>

    <div class="row">

      <div class="col-2"></div>

      <div class="col-9">

        <div class="py-2"></div>

        <table>

          <% @award_players.each do |award_player| %>

            <tr>
              <td width="50%">
                <span class="font-weight-bold" style="font-size: 18px"><%= award_player.award %></span>
              </td>
              <td width="50%" class="py-3">
                <span class="font-weight-bold" style="font-size: 30px"><%= award_player.player %></span>
                <span style="font-size: 15px">（<%= award_player.team %><%= award_player.grade %>）</span>
                <br>
                <div class="pl-3"><%= award_player.remarks %></div>
              </td>
            </tr>

          <% end %>

        </table>

      </div>

      <div class="col-1"></div>

    </div>

    <!--ベストナイン-->
    <div class="py-4"></div>

    <% if @bestnine_players.size != 0 %>
      <h4 class="text-center font-weight-bold" style="font-size: 18px">ベストナイン</h4>

      <div class="row">

        <div class="col-2"></div>

        <div class="col-9">

          <div class="py-2"></div>

          <table>

            <% @bestnine_players.each do |bestnine_player| %>

              <tr>
                <td width="50%">
                  <span class="font-weight-bold" style="font-size: 18px"><%= bestnine_player.get_position %></span>
                </td>
                <td width="50%" class="py-3">
                  <span class="font-weight-bold" style="font-size: 30px"><%= bestnine_player.player %></span>
                  <span style="font-size: 15px">（<%= bestnine_player.team %><%= bestnine_player.grade %>）</span>
                  <br>
                  <div class="pl-3"><%= bestnine_player.remarks %></div>
                </td>
              </tr>

            <% end %>

          </table>

        </div>

        <div class="col-1"></div>

      </div>
    <% end %>
  <% end %>

</div>

<!--sp-->
<div class="d-sm-none d-block">

  <h3 class="text-center font-weight-bold" style="font-size: 16px">
    <%= @selected_year %>年度<%= @selected_season %><%= @selected_event %> 表彰選手</h3>

  <div class="py-2"></div>

  <% if @error_msg %>

    <div class="text-center"><%= @error_msg %></div>

  <% else %>

    <h4 class="text-center font-weight-bold" style="font-size: 14px">各賞</h4>

    <table>

      <% @award_players.each do |award_player| %>

        <tr>
          <td class="font-weight-bold pl-2 pt-2"><%= award_player.award %></td>
        </tr>
        <tr>
          <td class="pl-3">
            <span class="font-weight-bold" style="font-size: 20px"><%= award_player.player %></span>
            <span style="font-size: 12px">（<%= award_player.team %><%= award_player.grade %>）</span>
            <% unless award_player.remarks.blank? %>
              <br>
              <span class="pl-3"><%= award_player.remarks %></span>
            <% end %>
          </td>
        </tr>

      <% end %>

    </table>

    <!--ベストナイン-->
    <div class="py-4"></div>

    <% if @bestnine_players.size != 0 %>
      <h4 class="text-center font-weight-bold" style="font-size: 14px">ベストナイン</h4>

      <table>

        <% @bestnine_players.each do |bestnine_player| %>

          <tr>
            <td class="font-weight-bold pl-2 pt-2"><%= bestnine_player.get_position %></td>
          </tr>
          <tr>
            <td class="pl-3">
              <span class="font-weight-bold" style="font-size: 20px"><%= bestnine_player.player %></span>
              <span style="font-size: 12px">（<%= bestnine_player.team %><%= bestnine_player.grade %>）</span>
              <% unless bestnine_player.remarks.blank? %>
                <br>
                <span class="pl-3"><%= bestnine_player.remarks %></span>
              <% end %>
            </td>
          </tr>

        <% end %>

      </table>

    <% end %>

  <% end %>

</div>