-# sp
.d-sm-none.d-block
  = render 'shared/stop_covid19'

.d-sm-flex
  -# pc
  .d-none.d-lg-block.coming-soon.mb-4
    .mb-4
      .coming-soon__subtitle 札幌学生野球連盟
      .coming-soon__title 2021年度春季リーグ戦

    .mb-4.d-flex
      .coming-soon__league 1部
      .ml-5
        .coming-soon__date
          .coming-soon__badge 開幕
          %span.coming-soon__date-meta 2021.
          5. 1
          %span.coming-soon__date-meta (土)
        .coming-soon__stadium
          .coming-soon__badge 会場
          札幌円山球場など

    .mb-4.d-flex
      .coming-soon__league 2部
      .ml-5
        .coming-soon__date
          .coming-soon__badge 開幕
          %span.coming-soon__date-meta 2021.
          5. 8
          %span.coming-soon__date-meta (土)
        .coming-soon__stadium
          .coming-soon__badge 会場
          栗山町民球場など

    .mb-4.d-flex
      .coming-soon__league 3部
      .ml-5
        .coming-soon__date
          .coming-soon__badge 開幕
          %span.coming-soon__date-meta 2021.
          5. 1
          %span.coming-soon__date-meta (土)
        .coming-soon__stadium
          .coming-soon__badge 会場
          栗山町民球場など

    ※日程の詳細は
    = link_to 'こちら', nittei_path, class: 'text-danger font-weight-bold text-decoration-underline'
    からご確認ください。

  .ml-lg-4
    = image_tag '2020-autumn.png', class: 'top-page__image'

.flex-container
  .article-list
    %h2.top-page__subtitle
      = icon('fas', 'rss')
      新着情報
    = render 'infos/info', infos: @infos
    .more-link
      = link_to 'もっとたくさん見る', infos_path
  .game-list
    %h2.top-page__subtitle
      = icon('fas', 'baseball-ball')
      試合速報（最新5試合）
    = render 'game_infos/index', game_infos: @game_infos
    .more-link
      = link_to '試合一覧ページへ', game_infos_path
