<div class="py-2"></div>

<div class="row">
  <div class="px-0">
    <%= image_tag 'carousel.jpg', alt: '札六開幕', class: 'd-block w-100' %>
  </div>
</div>

<div class="py-sm-3"></div>

<div class="row">
  <div class="col-sm-6">
    <%= render 'infos/info', infos: @infos %>
    <div align="right">
      <u><%= link_to 'もっとたくさん見る', infos_path %></u>
    </div>
  </div>
  <div class="col-sm-6">
    <h2>試合速報
      <small>（最新5試合）</small>
    </h2>
    <%= render 'game_infos/index', game_infos: @game_infos %>
    <div align="right">
      <u><%= link_to '試合速報ページへ', game_infos_path %></u>
    </div>
  </div>
</div>