<div class="py-2"></div>

<div class="row">
  <div class="px-0">
    <%= image_tag '2019_autumn.jpg', alt: '2019年度秋季リーグ戦', class: 'd-block w-100' %>
  </div>
</div>

<div class="d-none d-sm-block">
  <div class="row justify-content-end" style="font-size: 10px">
    photo by Junko Suzuki
  </div>
</div>

<div class="d-sm-none d-block">
  <div class="text-right" style="font-size: 8px">
    photo by Junko Suzuki
  </div>
</div>

<div class="py-sm-2"></div>

<div class="row">
  <div class="col-sm-6">
    <h2 style="font-size: 18px">新着情報</h2>
    <%= render 'infos/info', infos: @infos %>
    <div align="right">
      <u><%= link_to 'もっとたくさん見る', infos_path %></u>
    </div>
  </div>
  <div class="col-sm-6">
    <h2 style="font-size: 18px">試合速報
      <small>（最新5試合）</small>
    </h2>
    <%= render 'game_infos/index', game_infos: @game_infos %>
    <div align="right">
      <u><%= link_to '試合速報ページへ', game_infos_path %></u>
    </div>
  </div>
</div>