-# sp
.d-sm-none.d-block
  = render 'shared/stop_covid19'

= image_tag '2021_spring.png', class: 'top-page__image'

.flex-container
  .article-list
    %h2.top-page__subtitle
      = icon('fas', 'rss')
      新着情報
    = render 'infos/info', infos: @infos
    .more-link
      = link_to 'もっとたくさん見る', infos_path
  .game-list
    %h2.top-page__subtitle
      = icon('fas', 'baseball-ball')
      試合速報（最新5試合）
    = render 'game_infos/index', game_infos: @game_infos
    .more-link
      = link_to '試合一覧ページへ', game_infos_path
