<%= form_with(model: championship, local: true) do |form| %>

  <div class="form-group">
    <%= form.label :year, '年度' %>
    <%= form.telephone_field :year, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :oc_date, '開会式日程' %>
    <%= form.date_field :oc_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :oc_time, '開会式開始時刻' %>
    <%= form.time_field :oc_time, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit '情報送信', data: {disable_with: '処理中…'}, class: 'btn btn-default' %>
  </div>
<% end %>
