<%= form_with(model: [championship, championship_award], local: true) do |form| %>

  <div class="form-group">
    <%= form.label :disp_id, '表示順' %>
    <%= form.text_field :disp_id, class: 'form-control', placeholder: '例：1' %>
  </div>

  <div class="form-group">
    <%= form.label :award, '賞名' %>
    <%= form.text_field :award, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :player, '選手名' %>
    <%= form.text_field :player, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :team, 'チーム' %>
    <%= form.select :team, ['星槎道都大学', '苫小牧駒澤大学'],
                    {include_blank: '選択してください'}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :grade, '学年' %>
    <%= form.select :grade, ['4年', '3年', '2年', '1年'],
                 {include_blank: '---'}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :remarks, '特記事項' %>
    <%= form.text_area :remarks, rows: "1", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit '情報送信', data: {disable_with: '処理中…'}, class: 'btn btn-default' %>
  </div>

<% end %>
