<h2>順位表</h2>

<%= form_tag({controller: :standing, action: :find}, method: :get) do %>
  <div class="row" style="padding-left: 5px; padding-right: 5px">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= select_tag :key_year, options_for_select(Constants.get_year_list, @selected_year), class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= select_tag :key_season, options_for_select(['春季', '秋季'], @selected_season), class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-3">
      <%= submit_tag '表示', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

<div class="py-4"></div>

<% @result_infos.each_with_index do |result_info, league_number| %>
  <% rank_infos = result_info[0] %>
  <% result_array = result_info[1] %>
  <% updated_at = result_info[2] %>

  <div class="d-none d-sm-block">
    <table class="table table-bordered text-center">
      <tr>
        <td colspan="2">
          <%= @selected_year %>年度<%= @selected_season %><%= league_number + 1 %>部リーグ戦
        </td>
        <% rank_infos.each do |rank_info| %>
          <td colspan="2"><%= rank_info.three_letter_name %></td>
        <% end %>
        <td>勝利</td>
        <td>敗戦</td>
        <td>引分</td>
      </tr>
      <% rank_infos.each_with_index do |rank_info, i| %>
        <tr>
          <td><%= rank_info.rank.to_s + '位' %></td>
          <td class="rank-team-name"><%= rank_info.team_name %></td>

          <% (12 * i..11 + 12 * i).each do |index| %>
            <td><%= result_array[index] %></td>
          <% end %>

          <td><%= rank_info.disp_win %></td>
          <td><%= rank_info.disp_lose %></td>
          <td><%= rank_info.disp_draw %></td>
        </tr>
      <% end %>
    </table>

    <% unless updated_at.nil? %>
      <div class="text-right font-size-12 pt-1 pr-2">
        最終更新：<%= updated_at.strftime("%Y-%-m-%-d %H:%M") %>
      </div>
    <% end %>

    <div class="py-4"></div>

  </div>

  <div class="d-block d-sm-none">
    <p>
      <%= @selected_year %>年度<%= @selected_season %><%= league_number + 1 %>部リーグ戦
    </p>
    <table class="table table-bordered text-center standing-sp">
      <tr>
        <td colspan="2"></td>
        <% rank_infos.each do |rank_info| %>
          <td colspan="2"><%= rank_info.two_letter_name %></td>
        <% end %>
        <td>勝</td>
        <td>敗</td>
        <td>分</td>
      </tr>
      <% rank_infos.each_with_index do |rank_info, i| %>
        <tr>
          <td><%= rank_info.rank %></td>
          <td><%= rank_info.two_letter_name %></td>

          <% (12 * i..11 + 12 * i).each do |index| %>
            <td><%= result_array[index] %></td>
          <% end %>

          <td><%= rank_info.disp_win %></td>
          <td><%= rank_info.disp_lose %></td>
          <td><%= rank_info.disp_draw %></td>
        </tr>
      <% end %>
    </table>

    <% unless updated_at.nil? %>
      <div class="text-right font-size-12 pt-1 pr-2">
        最終更新：<%= updated_at.strftime("%Y-%-m-%-d %H:%M") %>
      </div>
    <% end %>

    <div class="py-4"></div>

  </div>

<% end %>