%header
  .sp-header
    .header__upper-half
      = link_to root_path do
        .d-flex
          = image_tag 'logo_square.jpg', class: 'header__logo'
          %h1.header__site-title.mb-0.ml-1.mt-1.mt-sm-0 札幌学生野球連盟
    .hamburger
      .hamburger-icon
      .hamburger-icon
      .hamburger-icon
  %nav.header__navigation
    %ul.menu
      %li.menu-item
        = link_to root_path do
          = icon('fas', 'home', class: 'mr-1')
          トップ
      %li.menu-item
        = link_to game_infos_path do
          = icon('fas', 'baseball-ball', class: 'mr-1')
          試合
      %li.menu-item
        = link_to standings_path do
          = icon('fas', 'table', class: 'mr-1')
          順位表
      %li.menu-item
        = link_to nittei_path do
          = icon('far', 'calendar-alt', class: 'mr-1')
          日程
      %li.menu-item
        = link_to award_infos_path do
          = icon('fas', 'award', class: 'mr-1')
          表彰
      %li.menu-item
        = link_to team_path do
          = icon('fas', 'sitemap', class: 'mr-1')
          加盟大学・関連組織
      %li.menu-item
        = link_to championships_path do
          = icon('fas', 'crown', class: 'mr-1')
          代表決定戦
      %li.menu-item--unusual
        = link_to special_rules_2021_spring_path do
          = icon('fas', 'book', class: 'mr-1')
          実施条件・特別規定

-# pc
.d-none.d-sm-block
  = render 'shared/stop_covid19'
