%header
  .sp-header
    .header__upper-half
      = link_to root_path do
        .d-flex
          = image_tag 'logo_square.jpg', class: 'header__logo'
          %h1.header__site-title.mb-0.ml-1.mt-1.mt-sm-0 札幌学生野球連盟
    .hamburger
      .hamburger-icon
      .hamburger-icon
      .hamburger-icon
  %nav.header__navigation
    %ul.menu.mb-sm-2.mb-0
      %li.menu-item
        = link_to root_path do
          トップ
          = icon('fas', 'home', class: 'ml-1')
      %li.menu-item
        = link_to game_infos_path do
          試合
          = icon('fas', 'baseball-ball', class: 'ml-1')
      %li.menu-item
        = link_to standings_path do
          順位表
          = icon('fas', 'table', class: 'ml-1')
      %li.menu-item
        = link_to nittei_path do
          日程
          = icon('far', 'calendar-alt', class: 'ml-1')
      %li.menu-item
        = link_to award_infos_path do
          表彰
          = icon('fas', 'award', class: 'ml-1')
      %li.menu-item
        = link_to team_path do
          加盟大学・関連組織
          = icon('fas', 'sitemap', class: 'ml-1')
      %li.menu-item
        = link_to championships_path do
          代表決定戦
          = icon('fas', 'crown', class: 'ml-1')
