<% nittei_infos.each do |nittei_info| %>

  <% if nittei_info.rain_date_flag %>
    <!--予備日の場合-->

    <div class="row mb-1">
      <div class="col-12 text-left mt-2">
        <%= l nittei_info.disp_date, format: :standard %>
        <%= nittei_info.stadium %>
        <span class="badge badge-danger">予備日</span>
      </div>
    </div>

    <table class="table table-striped">
      <tr>
        <td class="py-0" style="border-top: none">
          <div class="row">
            <div class="col-4 text-right py-1">
              ---
            </div>
            <div class="col-4 text-center py-1">
              <%= l nittei_info.start_time_1, format: :game %>
            </div>
            <div class="col-4 text-left py-1">
              ---
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0" style="border-top: none">
          <div class="row">
            <div class="col-4 text-right py-1">
              ---
            </div>
            <div class="col-4 text-center py-1">
              <%= l nittei_info.start_time_2, format: :game %>
            </div>
            <div class="col-4 text-left py-1">
              ---
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0" style="border-top: none">
          <div class="row">
            <div class="col-4 text-right py-1">
              ---
            </div>
            <div class="col-4 text-center py-1">
              <%= l nittei_info.start_time_3, format: :game %>
            </div>
            <div class="col-4 text-left py-1">
              ---
            </div>
          </div>
        </td>
      </tr>
    </table>

  <% else %>
    <!--予備日でない場合-->

    <div class="row mb-1">
      <div class="col-12 text-left mt-2">
        <%= l nittei_info.disp_date, format: :standard %>
        <%= nittei_info.stadium %>
      </div>
    </div>

    <table class="table table-striped">
      <tr>
        <td class="py-0" style="border-top: none">
          <div class="row">
            <div class="col-4 text-right py-1">
              <%= Team.get_three_letter(nittei_info.top_team_1) %>
            </div>
            <div class="col-4 text-center py-1">
              <%= l nittei_info.start_time_1, format: :game %>
            </div>
            <div class="col-4 text-left py-1">
              <%= Team.get_three_letter(nittei_info.bottom_team_1) %>
            </div>
          </div>
          <div class="text-center">
            <%= nittei_info.message_1 %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0" style="border-top: none">
          <div class="row">
            <div class="col-4 text-right py-1">
              <%= Team.get_three_letter(nittei_info.top_team_2) %>
            </div>
            <div class="col-4 text-center py-1">
              <%= l nittei_info.start_time_2, format: :game %>
            </div>
            <div class="col-4 text-left py-1">
              <%= Team.get_three_letter(nittei_info.bottom_team_2) %>
            </div>
          </div>
          <div class="text-center">
            <%= nittei_info.message_2 %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0" style="border-top: none">
          <div class="row">
            <div class="col-4 text-right py-1">
              <%= Team.get_three_letter(nittei_info.top_team_3) %>
            </div>
            <div class="col-4 text-center py-1">
              <%= l nittei_info.start_time_3, format: :game %>
            </div>
            <div class="col-4 text-left py-1">
              <%= Team.get_three_letter(nittei_info.bottom_team_3) %>
            </div>
          </div>
          <div class="text-center">
            <%= nittei_info.message_3 %>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>