<% nittei_infos.each do |nittei_info| %>

  <div class="row mb-1">
    <div class="col-12 text-left mt-2">
      <%= l nittei_info.disp_date, format: :standard %>
      <%= nittei_info.stadium %>
      <% if nittei_info.rain_date_flag %>
        <span class="badge badge-danger">予備日</span>
      <% end %>
    </div>
  </div>

  <% if nittei_info.rain_date_flag %>
    <!--予備日の場合-->

    <table class="table table-striped">
      <% 3.times do |n| %>
        <% start_time_i = "start_time_" << (n + 1).to_s %>
        <% if nittei_info[start_time_i].present? %>
          <tr>
            <td class="py-0" style="border-top: none">
              <div class="row">
                <div class="col-4 text-right py-1">
                  ---
                </div>
                <div class="col-4 text-center py-1">
                  <%= l nittei_info[start_time_i], format: :game %>
                </div>
                <div class="col-4 text-left py-1">
                  ---
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>

  <% else %>
    <!--予備日でない場合-->

    <table class="table table-striped">
      <% 3.times do |n| %>
        <% top_team_i = "top_team_" << (n + 1).to_s %>
        <% no_game_i = "no_game_" << (n + 1).to_s %>
        <% start_time_i = "start_time_" << (n + 1).to_s %>
        <% bottom_team_i = "bottom_team_" << (n + 1).to_s %>
        <% message_i = "message_" << (n + 1).to_s %>
        <% if nittei_info[top_team_i].present? %>
          <tr>
            <td class="py-0" style="border-top: none">
              <div class="row">
                <div class="col-4 text-right py-1">
                  <%= Team.get_three_letter(nittei_info[top_team_i]) %>
                </div>
                <div class="col-4 text-center py-1">
                  <% if nittei_info[no_game_i] %>
                    雨天中止
                  <% else %>
                    <%= l nittei_info[start_time_i], format: :game %>
                  <% end %>
                </div>
                <div class="col-4 text-left py-1">
                  <%= Team.get_three_letter(nittei_info[bottom_team_i]) %>
                </div>
              </div>
              <div class="text-center">
                <%= nittei_info[message_i] %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% end %>
