<h2 class="text-center font-weight-bold my-sm-5" style="font-size: 24px">大会日程</h2>

<!--  pc  -->
<div class="d-none d-sm-block">
  <%= form_tag({controller: :nittei, action: :find}, method: :get) do %>
    <div class="row" style="padding-left: 5px; padding-right: 5px">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= select_tag :key_year, options_for_select(Constants.get_year_list, @selected_year), class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= select_tag :key_season, options_for_select(['春季', '秋季'], @selected_season), class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= select_tag :key_event,
                         options_for_select(['1部リーグ戦', '2部リーグ戦', '3部リーグ戦', '入替戦', 'トーナメント'], @selected_event),
                         class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-2">
        <%= submit_tag '表示', class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>

<!--  sp  -->
<div class="d-sm-none d-block">
  <%= form_tag({controller: :nittei, action: :find}, method: :get) do %>
    <nav class="navbar navbar-expand-lg navbar-light pt-2">
      <button type="button" class="navbar-toggler btn-block text-center"
              data-toggle="collapse" data-target="#search"
              aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションバー">
        他の大会をみる
      </button>
      <div class="collapse navbar-collapse" id="search">
        <div class="py-2"></div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <div class="form-group">
              <%= select_tag :key_year, options_for_select(Constants.get_year_list, @selected_year), class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <%= select_tag :key_season, options_for_select(['春季', '秋季'], @selected_season), class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <%= select_tag :key_event,
                             options_for_select(['1部リーグ戦', '2部リーグ戦', '3部リーグ戦', '入替戦', 'トーナメント'], @selected_event),
                             class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-2">
            <%= submit_tag '表示', class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </nav>
  <% end %>
</div>

<div class="py-2"></div>

<h3 class="text-center font-weight-bold mb-2 mb-sm-3 mt-0 mt-sm-3" style="font-size: 20px">
  <%= @selected_year %>年度<%= @selected_season %><%= @selected_event %>
</h3>

<% if @error_msg %>

  <div class="py-2"></div>

  <div class="text-center"><%= @error_msg %></div>

<% else %>

  <% if @oc_date %>
    <div class="text-center font-weight-bold">
      開会式：
      <%= l @oc_date, format: :oc_date %><%= " " %><%= l @oc_time, format: :oc_time %>
    </div>
  <% end %>

  <% if @selected_event == '入替戦' %>
    <div class="text-center font-weight-bold">
      ※二戦先取制
    </div>
  <% end %>

  <!--  tweet button start  -->
  <div class="text-center mt-3">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
       class="twitter-share-button"
       data-show-count="false"
       data-text="札幌学生野球連盟-大会日程
<%= @selected_year %>年度<%= @selected_season %><%= @selected_event %>
#盛り上がれ札六
">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <!--  tweet button end  -->

  <div class="row" style="padding-left: 5px; padding-right: 5px">

    <% if @selected_event.include?('リーグ戦') %>

      <% @event_one_days_list.each_with_index do |event_one_days, i| %>
        <div class="col-sm-6 pt-3">
          <p class="text-center font-weight-bold" style="font-size: 16px">
            <%= i == 0 ? '第一節' : '第二節' %>
          </p>
          <div class="row">
            <div class="col-4 py-1 pr-1 text-right">
              <span class="badge badge-primary">三塁側先攻</span>
            </div>
            <div class="col-4"></div>
            <div class="col-4 py-1 pl-1">
              <span class="badge badge-danger">一塁側後攻</span>
            </div>
          </div>
          <%= render 'show', event_one_days: event_one_days %>
        </div>

      <% end %>

    <% elsif @selected_event == '入替戦' %>

      <div class="col-12 pt-3">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-4 py-1 pr-1 text-right">
                <span class="badge badge-primary">三塁側先攻</span>
              </div>
              <div class="col-4"></div>
              <div class="col-4 py-1 pl-1">
                <span class="badge badge-danger">一塁側後攻</span>
              </div>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <%= render 'show', event_one_days: @event_one_days %>
            <% if @updated_at.present? %>
              <div class="text-right mt-4 mr-2">
                最終更新：<%= l @updated_at, format: :english %>
              </div>
            <% end %>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>

    <% elsif @selected_event == 'トーナメント' %>

      <div class="col-12 pt-3">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <%= render 'tournament', event_one_days: @event_one_days %>
            <% if @updated_at.present? %>
              <div class="text-right mt-4 mr-2">
                最終更新：<%= l @updated_at, format: :english %>
              </div>
            <% end %>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>

    <% end %>

  </div>

  <% if @updated_at.present? && @selected_event == 'リーグ戦' %>
    <div class="text-right mt-4 mr-2">
      最終更新：<%= l @updated_at, format: :english %>
    </div>
  <% end %>

  <%# sp-only for-screen-shot start %>
  <div class="d-sm-none d-block">

    <div class="py-3"></div>

    <% if @selected_event.include?('リーグ戦') %>

      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <button type="button" class="navbar-toggler btn-block text-center"
                data-toggle="collapse" data-target="#screenshot"
                aria-controls="Navber" aria-expanded="false" aria-label="スクリーンショット用表示">
          スクリーンショット用
        </button>
        <div class="collapse navbar-collapse" id="screenshot">
          <div class="py-4"></div>

          <div class="text-center" style="font-size: 10px">
            <div class="font-weight-bold" style="font-size: 12px">
              札幌学生野球連盟<%= " " %><%= @selected_year %>年度<%= @selected_season %><%= @selected_event %>
              <small>
                <br>
                <% if @oc_date %>
                  開会式：
                  <%= l @oc_date, format: :oc_date %><%= " " %><%= l @oc_time, format: :oc_time %>
                <% end %>
              </small>
            </div>

            <div class="py-1"></div>

            <ul class="nav nav-pills nav-justified">
              <% 2.times do |i| %>
                <li class="nav-item border<%= ' border-right-0' if i < 1 %>">
                  <%= link_to "第#{i == 0 ? '一' : '二'}節", "#tab#{i + 1}", class: "nav-link rounded-0#{' active' if i == 0 }", data: {toggle: 'tab'} %>
                </li>
              <% end %>
            </ul>

            <div class="mb-2"></div>

            <div class="tab-content">

              <% @event_one_days_list.each_with_index do |event_one_days, i| %>

                <div id="tab<%= i + 1 %>" class="tab-pane<%= ' active' if i == 0 %>">

                  <div>
                    <% event_one_days.each do |event_one_day| %>
                      <% if event_one_day.rain_date_flag %>
                        <table class="table table-bordered standing-sp mb-2" style="table-layout: fixed; width: 100%;">
                          <tr>
                            <td class="text-left pl-2">
                              <%= l event_one_day.disp_date, format: :short %><%= " " %><%= event_one_day.stadium %>
                              <span class="badge badge-danger">予備日</span>
                            </td>
                          </tr>
                        </table>
                      <% else %>
                        <table class="table table-bordered standing-sp mb-2" style="table-layout: fixed; width: 100%;">
                          <tr>
                            <td colspan="3" class="text-left pl-2">
                              <%= l event_one_day.disp_date, format: :short %><%= " " %><%= event_one_day.stadium %>
                            </td>
                          </tr>
                          <tr>
                            <% 3.times do |n| %>
                              <td style="vertical-align: middle">
                                <% if event_one_day["top_team_#{n + 1}"].present? %>
                                  <%= Team.get_three_letter(event_one_day["top_team_#{n + 1}"]) %>
                                  <%= Constants::SPACE_HYPHEN_SPACE %>
                                  <%= Team.get_three_letter(event_one_day["bottom_team_#{n + 1}"]) %>
                                  <br>
                                  <% if event_one_day["no_game_#{n + 1}"] %>
                                    雨天中止
                                  <% else %>
                                    <%= l event_one_day["start_time_#{n + 1}"], format: :game %>
                                  <% end %>
                                <% end %>
                              </td>
                            <% end %>
                          </tr>
                        </table>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="text-left pl-2">
              ※左側チームが三塁側先攻、右側チームが一塁側後攻
            </div>
          </div>
        </div>
      </nav>
    <% end %>
  </div>
  <%# sp-only for-screen-shot end %>

<% end %>

<%# pc %>
<div class="d-none d-sm-block">
  <div class="mb-5"></div>
</div>
