<table class="table table-bordered table-sm text-center mb-0" width="100%">
  <tr class="nested-fields well well-compact">
    <td width="7%"><%= f.text_field :disp_id, class: 'form-control', placeholder: '例：1' %></td>
    <td width="18%">
      <%= f.collection_select :award, Award.all, :name, :name, {include_blank: '選択してください'}, class: 'form-control' %>
    </td>
    <td width="18%"><%= f.text_field :player, class: 'form-control' %></td>
    <td width="18%">
      <%= f.collection_select :team, Team.all, :name, :name, {include_blank: '選択してください'}, class: 'form-control' %>
    </td>
    <td width="7%">
      <%= f.select :grade, ['4年', '3年', '2年', '1年'],
                   {include_blank: '---'}, class: 'form-control' %>
    </td>
    <td width="25%"><%= f.text_area :remarks, rows: "1", class: 'form-control' %></td>
    <td width="7%"><%= link_to_remove_association '削除', f, class: 'btn btn-default' %></td>
  </tr>
</table>