<h2 class="text-center font-weight-bold my-sm-5" style="font-size: 24px">表彰選手</h2>

<!--  pc  -->
<div class="d-none d-sm-block">
  <%= form_tag({controller: :award_infos, action: :find}, method: :get) do %>
    <div class="row" style="padding-left: 5px; padding-right: 5px">
      <%= render 'shared/find_field' %>
    </div>
  <% end %>
</div>

<!--  sp  -->
<div class="d-sm-none d-block">
  <%= form_tag({controller: :award_infos, action: :find}, method: :get) do %>
    <nav class="navbar navbar-expand-lg navbar-light pt-2">
      <button type="button" class="navbar-toggler btn-block text-center"
              data-toggle="collapse" data-target="#search"
              aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションバー">
        他の大会をみる
      </button>
      <div class="collapse navbar-collapse" id="search">
        <div class="py-2"></div>
        <div class="row">
          <%= render 'shared/find_field' %>
        </div>
      </div>
    </nav>
  <% end %>
</div>

<div class="py-2"></div>

<h3 class="text-center font-weight-bold mb-2 mb-sm-3 mt-0 mt-sm-3" style="font-size: 20px">
  <%= @selected_year %>年度<%= @selected_season %><%= @selected_event %>
</h3>

<div class="text-center mt-4">
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
     class="twitter-share-button"
     data-show-count="false"
     data-text="札幌学生野球連盟-表彰選手
<%= @selected_year %>年度<%= @selected_season %><%= @selected_event %>
#盛り上がれ札六
">Tweet</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<!--pc-->
<div class="d-none d-sm-block">

  <div class="py-2"></div>

  <% if @error_msg %>

    <div class="text-center"><%= @error_msg %></div>

  <% else %>

    <h4 class="text-center font-weight-bold" style="font-size: 18px">各賞</h4>

    <div class="row">

      <div class="col-2"></div>

      <div class="col-9">

        <div class="py-2"></div>

        <table>

          <% @award_players.each do |award_player| %>

            <tr>
              <td width="50%">
                <span class="font-weight-bold" style="font-size: 18px"><%= award_player.award %></span>
              </td>
              <td width="50%" class="py-3">
                <span class="font-weight-bold" style="font-size: 30px"><%= award_player.player %></span>
                <span style="font-size: 15px">（<%= award_player.team %><%= award_player.grade %>）</span>
                <br>
                <div class="pl-3"><%= award_player.remarks %></div>
              </td>
            </tr>

          <% end %>

        </table>

      </div>

      <div class="col-1"></div>

    </div>

    <!--ベストナイン-->
    <div class="py-4"></div>

    <% if @bestnine_players.size != 0 %>
      <h4 class="text-center font-weight-bold" style="font-size: 18px">ベストナイン</h4>

      <div class="row">

        <div class="col-2"></div>

        <div class="col-9">

          <div class="py-2"></div>

          <table>

            <% @bestnine_players.each do |bestnine_player| %>

              <tr>
                <td width="50%">
                  <span class="font-weight-bold" style="font-size: 18px"><%= bestnine_player.get_position %></span>
                </td>
                <td width="50%" class="py-3">
                  <span class="font-weight-bold" style="font-size: 30px"><%= bestnine_player.player %></span>
                  <span style="font-size: 15px">（<%= bestnine_player.team %><%= bestnine_player.grade %>）</span>
                  <br>
                  <div class="pl-3"><%= bestnine_player.remarks %></div>
                </td>
              </tr>

            <% end %>

          </table>

        </div>

        <div class="col-1"></div>

      </div>
    <% end %>
  <% end %>

</div>

<!--sp-->
<div class="d-sm-none d-block">

  <div class="py-2"></div>

  <% if @error_msg %>

    <div class="text-center"><%= @error_msg %></div>

  <% else %>

    <h4 class="text-center font-weight-bold" style="font-size: 18px">各賞</h4>

    <table>

      <% @award_players.each do |award_player| %>

        <tr>
          <td class="font-weight-bold pl-2 pt-2"><%= award_player.award %></td>
        </tr>
        <tr>
          <td class="pl-3">
            <span class="font-weight-bold" style="font-size: 20px"><%= award_player.player %></span>
            <span style="font-size: 12px">（<%= award_player.team %><%= award_player.grade %>）</span>
            <% unless award_player.remarks.blank? %>
              <br>
              <span class="pl-3"><%= award_player.remarks %></span>
            <% end %>
          </td>
        </tr>

      <% end %>

    </table>

    <!--ベストナイン-->
    <div class="py-4"></div>

    <% if @bestnine_players.size != 0 %>
      <h4 class="text-center font-weight-bold" style="font-size: 18px">ベストナイン</h4>

      <table>

        <% @bestnine_players.each do |bestnine_player| %>

          <tr>
            <td class="font-weight-bold pl-2 pt-2"><%= bestnine_player.get_position %></td>
          </tr>
          <tr>
            <td class="pl-3">
              <span class="font-weight-bold" style="font-size: 20px"><%= bestnine_player.player %></span>
              <span style="font-size: 12px">（<%= bestnine_player.team %><%= bestnine_player.grade %>）</span>
              <% unless bestnine_player.remarks.blank? %>
                <br>
                <span class="pl-3"><%= bestnine_player.remarks %></span>
              <% end %>
            </td>
          </tr>

        <% end %>

      </table>

    <% end %>




    <%# sp-only for-screen-shot start %>

    <div class="py-3"></div>

    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <button type="button" class="navbar-toggler btn-block text-center"
              data-toggle="collapse" data-target="#screenshot"
              aria-controls="Navber" aria-expanded="false" aria-label="スクリーンショット用表示">
        スクリーンショット用
      </button>
      <div class="collapse navbar-collapse" id="screenshot">
        <div class="py-4"></div>

        <div class="text-center" style="font-size: 10px">
          <div class="font-weight-bold" style="font-size: 12px">
            札幌学生野球連盟<%= " " %><%= @selected_year %>年度<%= @selected_season %><%= @selected_event %>
          </div>

          <div class="py-1"></div>

          <div class="mb-2 font-weight-bold">各賞</div>

          <table class="table table-bordered standing-sp mb-2" style="table-layout: fixed; width: 100%;">
            <% @award_players.each_with_index do |award_player, i| %>

              <% if i % 2 == 0 %>
                <%= '<tr>'.html_safe %>
              <% end %>

              <td style="vertical-align: middle">
                <div class="text-left pl-2">
                  <%= award_player.award %>
                </div>
                <div class="border-top">
                  <span class="font-weight-bold" style="font-size: 13px"><%= award_player.player %></span>
                  (<%= Team.get_two_letter(award_player.team) %><%= Constants.get_circle_grade(award_player.grade) %>)
                </div>
              </td>

              <% if i % 2 == 1 %>
                <%= '</tr>'.html_safe %>
              <% end %>

            <% end %>

            <% if @award_players.size % 2 == 1 %>
              <%= '</tr>'.html_safe %>
            <% end %>

          </table>

          <div class="py-2"></div>

          <div class="mb-2 font-weight-bold">ベストナイン</div>

          <table class="table table-bordered standing-sp mb-2" style="table-layout: fixed; width: 100%;">
            <% @bestnine_players.each_with_index do |bestnine_player, i| %>

              <% if i % 2 == 0 %>
                <%= '<tr>'.html_safe %>
              <% end %>

              <td style="vertical-align: middle">
                <div class="text-left pl-2">
                  <%= bestnine_player.get_position %>
                </div>
                <div class="border-top">
                  <span class="font-weight-bold" style="font-size: 12px"><%= bestnine_player.player %></span>
                  <%= "(#{Team.get_two_letter(bestnine_player.team)}#{Constants.get_circle_grade(bestnine_player.grade)})" %>
                </div>
              </td>

              <% if i % 2 == 1 %>
                <%= '</tr>'.html_safe %>
              <% end %>

            <% end %>

            <% if @bestnine_players.size % 2 == 1 %>
              <%= '</tr>'.html_safe %>
            <% end %>

          </table>
        </div>
      </div>
    </nav>

    <%# sp-only for-screen-shot end %>

  <% end %>

</div><%# sp end %>

<div class="mb-5"></div>
