<h2 class="text-center font-weight-bold my-sm-5" style="font-size: 24px">表彰選手</h2>

<!--  pc  -->
<div class="d-none d-sm-block">
  <%= form_tag({controller: :award_infos, action: :find}, method: :get) do %>
    <div class="row" style="padding-left: 5px; padding-right: 5px">
      <%= render 'shared/find_field' %>
    </div>
  <% end %>
</div>

<!--  sp  -->
<div class="d-sm-none d-block">
  <%= form_tag({controller: :award_infos, action: :find}, method: :get) do %>
    <nav class="navbar navbar-expand-lg navbar-light pt-2">
      <button type="button" class="navbar-toggler btn-block text-center"
              data-toggle="collapse" data-target="#search"
              aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションバー">
        他の大会をみる
      </button>
      <div class="collapse navbar-collapse" id="search">
        <div class="py-2"></div>
        <div class="row">
          <%= render 'shared/find_field' %>
        </div>
      </div>
    </nav>
  <% end %>
</div>

<div class="py-2"></div>

<h3 class="text-center font-weight-bold mb-2 mb-sm-3 mt-0 mt-sm-3" style="font-size: 20px">
  <%= @selected_year %>年度<%= @selected_season %><%= @selected_event %>
</h3>

<!--pc-->
<div class="d-none d-sm-block">

  <div class="py-2"></div>

  <% if @error_msg %>

    <div class="text-center"><%= @error_msg %></div>

  <% else %>

    <h4 class="text-center font-weight-bold" style="font-size: 18px">各賞</h4>

    <div class="row">

      <div class="col-2"></div>

      <div class="col-9">

        <div class="py-2"></div>

        <table>

          <% @award_players.each do |award_player| %>

            <tr>
              <td width="50%">
                <span class="font-weight-bold" style="font-size: 18px"><%= award_player.award %></span>
              </td>
              <td width="50%" class="py-3">
                <span class="font-weight-bold" style="font-size: 30px"><%= award_player.player %></span>
                <span style="font-size: 15px">（<%= award_player.team %><%= award_player.grade %>）</span>
                <br>
                <div class="pl-3"><%= award_player.remarks %></div>
              </td>
            </tr>

          <% end %>

        </table>

      </div>

      <div class="col-1"></div>

    </div>

    <!--ベストナイン-->
    <div class="py-4"></div>

    <% if @bestnine_players.size != 0 %>
      <h4 class="text-center font-weight-bold" style="font-size: 18px">ベストナイン</h4>

      <div class="row">

        <div class="col-2"></div>

        <div class="col-9">

          <div class="py-2"></div>

          <table>

            <% @bestnine_players.each do |bestnine_player| %>

              <tr>
                <td width="50%">
                  <span class="font-weight-bold" style="font-size: 18px"><%= bestnine_player.get_position %></span>
                </td>
                <td width="50%" class="py-3">
                  <span class="font-weight-bold" style="font-size: 30px"><%= bestnine_player.player %></span>
                  <span style="font-size: 15px">（<%= bestnine_player.team %><%= bestnine_player.grade %>）</span>
                  <br>
                  <div class="pl-3"><%= bestnine_player.remarks %></div>
                </td>
              </tr>

            <% end %>

          </table>

        </div>

        <div class="col-1"></div>

      </div>
    <% end %>
  <% end %>

</div>

<!--sp-->
<div class="d-sm-none d-block">

  <div class="py-2"></div>

  <% if @error_msg %>

    <div class="text-center"><%= @error_msg %></div>

  <% else %>

    <h4 class="text-center font-weight-bold" style="font-size: 18px">各賞</h4>

    <table>

      <% @award_players.each do |award_player| %>

        <tr>
          <td class="font-weight-bold pl-2 pt-2"><%= award_player.award %></td>
        </tr>
        <tr>
          <td class="pl-3">
            <span class="font-weight-bold" style="font-size: 20px"><%= award_player.player %></span>
            <span style="font-size: 12px">（<%= award_player.team %><%= award_player.grade %>）</span>
            <% unless award_player.remarks.blank? %>
              <br>
              <span class="pl-3"><%= award_player.remarks %></span>
            <% end %>
          </td>
        </tr>

      <% end %>

    </table>

    <!--ベストナイン-->
    <div class="py-4"></div>

    <% if @bestnine_players.size != 0 %>
      <h4 class="text-center font-weight-bold" style="font-size: 18px">ベストナイン</h4>

      <table>

        <% @bestnine_players.each do |bestnine_player| %>

          <tr>
            <td class="font-weight-bold pl-2 pt-2"><%= bestnine_player.get_position %></td>
          </tr>
          <tr>
            <td class="pl-3">
              <span class="font-weight-bold" style="font-size: 20px"><%= bestnine_player.player %></span>
              <span style="font-size: 12px">（<%= bestnine_player.team %><%= bestnine_player.grade %>）</span>
              <% unless bestnine_player.remarks.blank? %>
                <br>
                <span class="pl-3"><%= bestnine_player.remarks %></span>
              <% end %>
            </td>
          </tr>

        <% end %>

      </table>

    <% end %>

  <% end %>

</div>

<div class="mb-5"></div>
