<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @award_info.year %>
</p>

<p>
  <strong>Season:</strong>
  <%= @award_info.season %>
</p>

<p>
  <strong>Event:</strong>
  <%= @award_info.event %>
</p>

<%= link_to 'Edit', edit_award_info_path(@award_info) %> |
<%= link_to 'Back', award_infos_path %>
