<h2 class="float-left">大会日程管理</h2>

<div class="padding-bottom10 padding-top10 float-right">
  <%= link_to '新規作成', new_event_info_path, class: 'btn btn-default' %>
</div>

<table class="table table-bordered text-center">
  <tr class="bg-green">
    <th>年度</th>
    <th>春季／秋季</th>
    <th>大会名</th>
    <th>最終更新日</th>
    <th colspan="3"></th>
  </tr>
  <% @event_infos.each do |event_info| %>
    <tr>
      <td style="vertical-align: middle;">
        <%= event_info.year %>
      </td>
      <td style="vertical-align: middle;">
        <%= event_info.season %>
      </td>
      <td style="vertical-align: middle;">
        <%= event_info.league %>
      </td>
      <td style="vertical-align: middle;">
        <%= l event_info.updated_at %>
      </td>
      <td>
        <%= link_to '大会情報編集', edit_event_info_path(event_info), class: 'btn btn-default' %>
      </td>
      <td>
        <%= link_to '日程情報編集', one_days_management_event_info_path(event_info), class: 'btn btn-default' %>
      </td>
      <td>
        <%= link_to '大会ごと削除', event_info, method: :delete, data: {confirm: '削除してよろしいですか？'}, class: 'btn btn-default' %>
      </td>
    </tr>
  <% end %>
</table>