<p id="notice"><%= notice %></p>

<h2 class="float-left">大会日程管理</h2>

<div class="padding-bottom10 padding-top10 float-right">
  <%= link_to '新規作成', new_event_info_path, class: 'btn btn-default' %>
</div>

<div class="d-none d-sm-block">
  <table class="table table-bordered text-center">
    <tr class="bg-green">
      <th>年度</th>
      <th>春季／秋季</th>
      <th>大会名</th>
      <th>最終更新日時</th>
      <th colspan="2"></th>
    </tr>
    <% @event_infos.each do |event_info| %>
      <tr>
        <td style="vertical-align: middle;">
          <%= event_info.year %>
        </td>
        <td style="vertical-align: middle;">
          <%= event_info.season %>
        </td>
        <td style="vertical-align: middle;">
          <%= event_info.league %>
        </td>
        <td style="vertical-align: middle;">
          <%= l event_info.updated_at %>
        </td>
        <td>
          <%= link_to '編集', edit_event_info_path(event_info), class: 'btn btn-default' %>
        </td>
        <td>
          <%= link_to '削除', event_info, method: :delete, data: {confirm: '削除してよろしいですか？'}, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
