<%= form_with(model: [championship, championship_game], local: true) do |form| %>

  <div class="form-group">
    <%= form.label :round, 'ラウンド' %>
    <%= form.select :round, [['第1戦', 1], ['第2戦', 2], ['第3戦', 3], ['第4戦', 4]],
                    {include_blank: '選択してください'}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date, '試合日' %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :time, '開始予定時刻' %>
    <%= form.time_field :time, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :stadium, '球場' %>
    <%= form.text_field :stadium, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :top_team, '先攻チーム' %>
    <%= form.select :top_team, ['東海大学札幌キャンパス', '東京農業大学北海道オホーツク'],
                    {include_blank: '選択してください'}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bottom_team, '後攻チーム' %>
    <%= form.select :bottom_team, ['東海大学札幌キャンパス', '東京農業大学北海道オホーツク'],
                    {include_blank: '選択してください'}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :message, '特記事項' %>
    <%= form.text_field :message, class: 'form-control' %>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= form.check_box :rain_date, class: 'checkbox' %>
        予備日フラグ
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit '情報送信', data: {disable_with: '処理中…'}, class: 'btn btn-default' %>
  </div>
<% end %>
