<p id="notice"><%= notice %></p>

<p>
  <strong>Event info:</strong>
  <%= @event_one_day.event_info %>
</p>

<p>
  <strong>Disp date:</strong>
  <%= @event_one_day.disp_date %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @event_one_day.stadium %>
</p>

<p>
  <strong>Round 1:</strong>
  <%= @event_one_day.round_1 %>
</p>

<p>
  <strong>Top team 1:</strong>
  <%= @event_one_day.top_team_1 %>
</p>

<p>
  <strong>Bottom team 1:</strong>
  <%= @event_one_day.bottom_team_1 %>
</p>

<p>
  <strong>Start time 1:</strong>
  <%= @event_one_day.start_time_1 %>
</p>

<p>
  <strong>Message 1:</strong>
  <%= @event_one_day.message_1 %>
</p>

<p>
  <strong>Round 2:</strong>
  <%= @event_one_day.round_2 %>
</p>

<p>
  <strong>Top team 2:</strong>
  <%= @event_one_day.top_team_2 %>
</p>

<p>
  <strong>Bottom team 2:</strong>
  <%= @event_one_day.bottom_team_2 %>
</p>

<p>
  <strong>Start time 2:</strong>
  <%= @event_one_day.start_time_2 %>
</p>

<p>
  <strong>Message 2:</strong>
  <%= @event_one_day.message_2 %>
</p>

<p>
  <strong>Round 3:</strong>
  <%= @event_one_day.round_3 %>
</p>

<p>
  <strong>Top team 3:</strong>
  <%= @event_one_day.top_team_3 %>
</p>

<p>
  <strong>Bottom team 3:</strong>
  <%= @event_one_day.bottom_team_3 %>
</p>

<p>
  <strong>Start time 3:</strong>
  <%= @event_one_day.start_time_3 %>
</p>

<p>
  <strong>Message 3:</strong>
  <%= @event_one_day.message_3 %>
</p>

<p>
  <strong>Rain date flag:</strong>
  <%= @event_one_day.rain_date_flag %>
</p>

<%= link_to 'Edit', edit_event_one_day_path(@event_one_day) %> |
<%= link_to 'Back', event_one_days_path %>
