<h2 class="text-center font-weight-bold my-sm-5" style="font-size: 24px">新着情報</h2>

<!--  pc  -->
<div class="d-none d-sm-block">
  <div style="margin-left: 15rem; margin-right: 15rem;">
    <%= render 'info', infos: @infos %>
  </div>
  <div class="float-right mt-4">
    <%= link_to 'もどる', :back, class: 'btn btn-default' %>
  </div>
</div>

<!--  sp  -->
<div class="d-sm-none d-block">
  <div class="py-2"></div>
  <%= render 'info', infos: @infos %>
  <div class="float-right mt-4">
    <%= link_to 'もどる', :back, class: 'btn btn-default' %>
  </div>
</div>

<!--  pagination start  -->
<nav aria-label="新着情報一覧">
  <ul class="pagination mr-auto mt-4">

    <% if 3 <= @current %>
      <li class="page-item">
        <%= link_to '≪', {controller: :infos, action: :page, id: 1}, class: 'page-link' %>
      </li>
    <% end %>

    <% if 1 != @current %>
      <li class="page-item">
        <%= link_to '<', {controller: :infos, action: :page, id: @current - 1}, class: 'page-link' %>
      </li>
    <% end %>

    <% @count.times do |i| %>
      <li class="page-item<%= ' active' if i + 1 == @current %>">
        <%= link_to i + 1, {controller: :infos, action: :page, id: i + 1}, class: 'page-link' %>
      </li>
    <% end %>

    <% if @count != @current %>
      <li class="page-item">
        <%= link_to '>', {controller: :infos, action: :page, id: @current + 1}, class: 'page-link' %>
      </li>
    <% end %>

    <% if @count - 2 >= @current %>
      <li class="page-item">
        <%= link_to '≫', {controller: :infos, action: :page, id: @count}, class: 'page-link' %>
      </li>
    <% end %>

  </ul>
</nav>
<!--  pagination end  -->
