<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @info.disp_date %>
  <%= @info.article %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
