<h2 class="text-center font-weight-bold my-sm-5" style="font-size: 24px">試合速報・結果</h2>

<!--  pc  -->
<div class="d-none d-sm-block">
  <%= form_tag({controller: :game_infos, action: :narrow}, method: :get) do %>
    <div class="row" style="padding-left: 5px; padding-right: 5px">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= select_tag :key_year, options_for_select(Constants.get_year_list, @selected_year), class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= select_tag :key_season, options_for_select(['春季', '秋季'], @selected_season), class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= select_tag :key_event,
                         options_for_select(['1部リーグ戦', '2部リーグ戦', '3部リーグ戦', '入替戦', 'トーナメント'], @selected_event),
                         class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-2">
        <%= submit_tag '表示', class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>

<!--  sp  -->
<div class="d-sm-none d-block">
  <%= form_tag({controller: :game_infos, action: :narrow}, method: :get) do %>
    <nav class="navbar navbar-expand-lg navbar-light pt-2">
      <button type="button" class="navbar-toggler btn-block text-center"
              data-toggle="collapse" data-target="#search"
              aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションバー">
        大会別に絞り込む
      </button>
      <div class="collapse navbar-collapse" id="search">
        <div class="py-2"></div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <div class="form-group">
              <%= select_tag :key_year, options_for_select(Constants.get_year_list, @selected_year), class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <%= select_tag :key_season, options_for_select(['春季', '秋季'], @selected_season), class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <%= select_tag :key_event,
                             options_for_select(['1部リーグ戦', '2部リーグ戦', '3部リーグ戦', 'トーナメント'], @selected_event),
                             class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-2">
            <%= submit_tag '表示', class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </nav>
  <% end %>
</div>

<div class="py-2"></div>

<% if @error_msg %>
  <div class="text-center"><%= @error_msg %></div>
<% else %>

  <%= render 'index', game_infos: @game_infos %>

  <div class="py-4"></div>

  <!--  pagination start  -->
  <nav aria-label="試合情報一覧">
    <ul class="pagination justify-content-center">

      <% if 3 <= @current_page %>
        <li class="page-item">
          <% if controller.action_name == 'narrow' %>
            <%= link_to '<<', {controller: :game_infos, action: :narrow, id: 1, key_year: @selected_year, key_season: @selected_season, key_event: @selected_event}, class: 'page-link' %>
          <% else %>
            <%= link_to '<<', {controller: :game_infos, action: :page, id: 1}, class: 'page-link' %>
          <% end %>
        </li>
      <% end %>

      <% if 1 != @current_page %>
        <li class="page-item">
          <% if controller.action_name == 'narrow' %>
            <%= link_to '<', {controller: :game_infos, action: :narrow, id: @current_page - 1, key_year: @selected_year, key_season: @selected_season, key_event: @selected_event}, class: 'page-link' %>
          <% else %>
            <%= link_to '<', {controller: :game_infos, action: :page, id: @current_page - 1}, class: 'page-link' %>
          <% end %>
        </li>
      <% end %>

      <% @games_count.times do |i| %>
        <li class="page-item<%= ' active' if i + 1 == @current_page %>">
          <% if controller.action_name == 'narrow' %>
            <%= link_to i + 1, {controller: :game_infos, action: :narrow, id: i + 1, key_year: @selected_year, key_season: @selected_season, key_event: @selected_event}, class: 'page-link' %>
          <% else %>
            <%= link_to i + 1, {controller: :game_infos, action: :page, id: i + 1}, class: 'page-link' %>
          <% end %>
        </li>
      <% end %>

      <% if @games_count != @current_page %>
        <li class="page-item">
          <% if controller.action_name == 'narrow' %>
            <%= link_to '>', {controller: :game_infos, action: :narrow, id: @current_page + 1, key_year: @selected_year, key_season: @selected_season, key_event: @selected_event}, class: 'page-link' %>
          <% else %>
            <%= link_to '>', {controller: :game_infos, action: :page, id: @current_page + 1}, class: 'page-link' %>
          <% end %>
        </li>
      <% end %>

      <% if @games_count - 2 >= @current_page %>
        <li class="page-item">
          <% if controller.action_name == 'narrow' %>
            <%= link_to '>>', {controller: :game_infos, action: :narrow, id: @games_count, key_year: @selected_year, key_season: @selected_season, key_event: @selected_event}, class: 'page-link' %>
          <% else %>
            <%= link_to '>>', {controller: :game_infos, action: :page, id: @games_count}, class: 'page-link' %>
          <% end %>
        </li>
      <% end %>

    </ul>
  </nav>
  <!--  pagination end  -->

<% end %>
