<h2 class="text-center font-weight-bold my-sm-5" style="font-size: 24px">試合速報・結果</h2>

<!--  pc  -->
<div class="d-none d-sm-block">
  <%= form_tag(game_infos_path, method: :get) do %>
    <%= hidden_field_tag :narrowed, true %>
    <div class="row" style="padding-left: 5px; padding-right: 5px">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= select_tag :key_year, options_for_select(Constants.get_year_list, @selected_year), class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= select_tag :key_season, options_for_select(['春季', '秋季'], @selected_season), class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= select_tag :key_event,
                         options_for_select(['1部リーグ戦', '2部リーグ戦', '3部リーグ戦', '入替戦', 'トーナメント'], @selected_event),
                         class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-2">
        <%= submit_tag '表示', class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>

<!--  sp  -->
<div class="d-sm-none d-block">
  <%= form_tag(game_infos_path, method: :get) do %>
    <%= hidden_field_tag :narrowed, true %>
    <nav class="navbar navbar-expand-lg navbar-light pt-2">
      <button type="button" class="navbar-toggler btn-block text-center"
              data-toggle="collapse" data-target="#search"
              aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションバー">
        大会別に絞り込む
      </button>
      <div class="collapse navbar-collapse" id="search">
        <div class="py-2"></div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <div class="form-group">
              <%= select_tag :key_year, options_for_select(Constants.get_year_list, @selected_year), class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <%= select_tag :key_season, options_for_select(['春季', '秋季'], @selected_season), class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <%= select_tag :key_event,
                             options_for_select(['1部リーグ戦', '2部リーグ戦', '3部リーグ戦', 'トーナメント'], @selected_event),
                             class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-2">
            <%= submit_tag '表示', class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </nav>
  <% end %>
</div>

<div class="py-2"></div>

<% if @error_msg %>
  <div class="text-center"><%= @error_msg %></div>
<% else %>

  <%= render 'index', game_infos: @game_infos %>

  <div class="py-4"></div>

  <!--  pagination start  -->
  <nav aria-label="試合情報一覧">
    <ul class="pagination justify-content-center">

      <% @pagination.each do |key, value| %>
        <li class="page-item<%= ' active' if value == @current %>">
          <%= link_to key, game_infos_path(page: value, narrowed: @narrowed, key_year: @selected_year, key_season: @selected_season, key_event: @selected_event), class: 'page-link' %>
        </li>
      <% end %>

    </ul>
  </nav>
  <!--  pagination end  -->

<% end %>
