<% if notice %>
  <div class="alert alert-success my-4" role="alert"><strong>完了</strong> - <%= notice %></div>
<% end %>

<h2 class="float-left">試合情報管理</h2>

<div class="padding-bottom10 padding-top10 float-right">
  <%= link_to '新規作成', new_game_info_path, class: 'btn btn-default' %>
</div>

<div class="d-none d-sm-block">
  <table class="table table-bordered text-center">
    <tr class="bg-green">
      <th>試合日</th>
      <th>試合終了フラグ</th>
      <th>先攻チーム</th>
      <th>スコア</th>
      <th>後攻チーム</th>
      <th>得点入力状況</th>
      <th colspan="4"></th>
    </tr>
    <% @game_infos.each do |game_info| %>
      <tr>
        <td style="vertical-align: middle;">
          <%= game_info.disp_date %>
        </td>
        <td style="vertical-align: middle;">
          <%= game_info.get_game_status %>
        </td>
        <td style="vertical-align: middle;">
          <%= game_info.batting_first_team %>
        </td>
        <td style="vertical-align: middle;">
          <%= game_info.get_sum_top %>
          <%= Constants::SPACE_HYPHEN_SPACE %>
          <%= game_info.get_sum_bottom %>
        </td>
        <td style="vertical-align: middle;">
          <%= game_info.field_first_team %>
        </td>
        <td style="vertical-align: middle;">
          <%= game_info.get_inputed_inning %>
        </td>
        <td>
          <%= link_to '詳細', game_info, class: 'btn btn-default' %>
        </td>
        <td>
          <%= link_to '編集', edit_game_info_path(game_info), class: 'btn btn-default' %>
        </td>
        <td>
          <%= link_to '得点', score_game_info_path(game_info), class: 'btn btn-default' %>
        </td>
        <td>
          <%= link_to '削除', game_info, method: :delete, data: {confirm: '削除してよろしいですか？'}, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="d-block d-sm-none">
  <% @game_infos.each do |game_info| %>
    <table class="table" style="margin-bottom: 0">
      <tr>
        <td>
          <%= link_to game_info do %>
            <div class="row">
              <div class="col-12 text-left">
                <%= game_info.disp_date %>
              </div>
            </div>
            <div class="row">
              <div class="col-5 text-right" style="padding: 5px">
                <%= Team.get_three_letter(game_info.batting_first_team) %>
              </div>
              <div class="col-2 text-center" style="padding: 5px">
                <%= game_info.get_sum_top %>
                <%= Constants::SPACE_HYPHEN_SPACE %>
                <%= game_info.get_sum_bottom %><%= game_info.get_x %>
              </div>
              <div class="col-5 text-left" style="padding: 5px">
                <%= Team.get_three_letter(game_info.field_first_team) %>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                （<%= game_info.get_game_status %>）
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    </table>
    <div class="padding-bottom10" align="right">
      <%= link_to '編集', edit_game_info_path(game_info), class: 'btn btn-default' %>
      <%= link_to '得点', score_game_info_path(game_info), class: 'btn btn-default' %>
      <%= link_to '削除', game_info, method: :delete, data: {confirm: '削除してよろしいですか？'}, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
